/* font section */

.azeret-mono-primary {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav section styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 150px 45px 150px;
}

.nav-logo {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

.nav-btn {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  padding: 17px 24px 17px 24px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}

/* banner section styles */

